<div class="flex justify-end w-full text-white p-4">
  <span class="flex gap-4 items-center font-bold text-xs sm:text-base">
    <a href="#home"> HOME </a>
    <a href="#"> SOBRE MIM </a>
    <a href="#"> PORTFOLIO </a>
    <button
      class="bg-gradient-to-r from-[#4f9cd0] via-[#4627c1] to-[#4f9cd0] transition-all duration-500 bg-size-200 bg-pos-0 hover:bg-pos-100 trans px-4 py-2 rounded-lg"
    >
      CONTATO
    </button>
  </span>
  <!-- <span class="flex sm:hidden">
    <mat-icon class="menu" [matMenuTriggerFor]="menu">menu</mat-icon>

    <mat-menu #menu="matMenu">
      <a href="#home"> HOME </a>
      <a href="#"> SOBRE MIM </a>
      <a href="#"> PORTFOLIO </a>
      <a href="#"> SERVIÇOS </a>
      <a href="#"> EXPERIENCIA </a>
      <button class="button">CONTATO</button>
    </mat-menu>
  </span> -->
</div>
