<div class="flex flex-col">
  <app-header id="home"></app-header>
  <section class="flex flex-col justify-center items-center gap-4 p-4">
    <h2 class="!text-2xl text-white font-bold">About me</h2>
    <p class="text-white tracking-widest leading-5 sm:w-3/5">
      A front-end developer with over three years of experience in Angular.
      <br />
      <br />
      I have a degree in Systems Analysis and Development from Universidade
      Cruzeiro do Sul (Mogi das Cruzes) and a solid foundation in web
      development, as well as practical problem-solving skills, with expertise
      in data structures such as lists and stacks. I also have back-end
      experience with Node.js and NestJS, including JWT authentication and
      processing large volumes of data.
      <br />
      <br />
      Focused on creating responsive and intuitive interfaces, I use tools such
      as Git, Cypress, Tailwind and Sonarqube on a daily basis to ensure the
      organization and quality of the code.
    </p>
  </section>
</div>
