<div class="container">
  <app-header id="home"></app-header>
  <section class="about">
    <p>
      <img src="assets/profile.png" alt="" class="left" />
      Olá, sou Renan Ribeiro, Desenvolvedor Full Stack com foco no front-end.
      Graduado em Análise e Desenvolvimento de Sistemas, concentro meu trabalho
      em Angular, NodeJS e API's RESTful, além de desenvolver PWAs. Com dois
      anos de experiência, destaco meu envolvimento na atualização de projetos
      LSM, criação do RMS e automação de processos. Busco soluções ágeis e
      estruturadas, priorizando a compreensão do negócio para oferecer
      interfaces eficientes.
    </p>
  </section>
</div>
